[*.cs]

# CA2008: Do not create tasks without passing a TaskScheduler
dotnet_diagnostic.CA2008.severity = silent

# S1066: Collapsible "if" statements should be merged
dotnet_diagnostic.S1066.severity = none

# S101: Types should be named in PascalCase
dotnet_diagnostic.S101.severity = none

# S927: Parameter names should match base declaration and other partial definitions
dotnet_diagnostic.S927.severity = none
